.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(200px 1fr));
  gap: 20px;
  margin-left: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cards-headername {
  margin-left: 50px;
  margin-top: 20px;
  /* color: rgb(27, 168, 200); */
}
