.insights-main {
  /* display: flex; */
  justify-content: center;
  max-width: 60%;

  margin-left: 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-color: black;
}
.insights-header {
  /* color: rgb(27, 168, 200); */
}
